body {
    background-image: linear-gradient(to bottom right, rgb(255,0,0), rgb(0,0,255));
    background-repeat: no-repeat;
    height: 100vh;   
}

.host {
    background-color: rgb(255, 0, 221);
    margin: auto;
    width: 75%;
    height: 50%;
    margin-top: 100px;
    padding-top: 150px;
}

form {
    background-color: white;
    width: 400px;
    margin: auto;
}

input {
    outline: none;
    width: 296px;
}

button {
    width: 300px;
    background-color: rgb(0, 130, 130);
    outline: none;
    color: wheat;
}

p {
    text-shadow: 2px 2px 4px;
}